@media (min-width: 768px) {
    .og-grid {
        list-style: none;
        padding: 20px 20px 20px 20px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    
    .og-grid li {
        display: inline-block;
        margin: 20px 5px 0 40px;
        vertical-align: top;
        height: 209px;
    }
}

html, body {
    height: 100%;
}
    
body{  
    overflow-y: scroll;  
    background: 
    linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
    ),
    url(images_intro/bg_intro.jpg);background-repeat: no-repeat; background-position: 50% 0%;

    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.top-pic {
    margin-top: 10px !important;
}

.owl-nav {
    display: none;
}

div.small-tiles {
    padding-left: 10px;
    padding-right: 0px;
}

div.tiles {
    max-width: 150px;
    height: 110px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
}

.text-small {
    font-size: 12px;
}

div.group-tiles {
    padding-left: 0px;
    padding-right: 0px;
}

.content-box img.tiles {
    width: 110px;
    height: 110px;
}

span.title-tiles {
    font-size: 20px;
    font-weight: bold;
}

span.title-besar {
    font-size: 30px;
}

.content-title {
    padding: 10px;
}

p.font-sambutan {
    font-size: 12px; 
}

.no-border {
    border: none;
}

span.besar {
    font-size: 22px;
}

div.overlay-post {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.border-custom-left {
    border-left: 1px solid #ddd;
}

.border-custom-right {
        border-right: 1px solid #ddd;
}


@media (min-width: 1200px) {
    .overlay-custom {
        width: 160px;
    }
}

@media (max-width: 1000px) {
    div.navbar-header img {
        width: 360px;
        display: inline;
    }
}

@media (max-width: 768px) {
    div.navbar-header img {
        display: inline;
    }

    .overlay-custom {
        width: 100%;
    }
}

@media (max-width: 425px) {
    div.navbar-header img {
        margin-top: 10px;
        width: 260px;
        display: inline;
    }

    .content-box img.tiles {
        width: 140px;
        height: 140px;
    }

    .tulisankecil {
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    div.navbar-header img {
        margin-top: 10px;
        width: 260px;
        display: inline;
    }
    
    .content-box img.tiles {
        width: 110px;
        height: 110px;
    }

    .overlay-custom {
        width: 100%;
    }
}


@media (max-width: 425px) {
    div.navbar-header img {
        margin-top: 10px;
        width: 260px;
        display: inline;
    }

    .tulisankecil {
        font-size: 13px;
    }
}

@media (min-width: 770px) {
    .left-column {
    padding-right: 15px !important;
    }

    .right-column {
    padding-left: 15px !important;
    }
}

.row {
    margin: unset !important;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Cond.otf');
    /*font-weight: normal;*/
    font-style: condensed;
}

.myriadpro {
    font-family: 'Roboto', sans-serif;
}

.header-top.header-primary .navbar-nav>li>a:hover {
    background-color: #002E40;
}

.header-main.header-transparent .navbar-nav>li>a:hover {
    background-color: #002E40;
}

.header-main.header-transparent {
    background-color: #259F64;
    min-height: 80px;
}

#footer{
    position:absolute;
    bottom:0;
    width:100%;
}

#popup_this {
    top: 10% !important;
    left: 50%;
    text-align:center;
    margin-top: -50px;
    margin-left: -100px;
    background: #fff;
    padding: 30px;
    position: fixed;
    z-index:99999 !important;
    box-shadow: 3px 3px 5px #f1f1f1;
}

.b-close {
    color: #fff;
    background: #ff0000;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index:99999;
    cursor: pointer;
}