/*--------------------------------------------------------------
# page1 Section
--------------------------------------------------------------*/
#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/bg-web.jpg") center top no-repeat;
    background-size: cover;
}

#page1 .container {
    height: auto !important;
}

#page1 .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#page1 .intro-info h2 span {
    color: #1bb1dc;
}

@media (max-width: 767px) {
    #page1 .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
    }
}

#page1 .intro-info .btn-get-started, #page1 .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#page1 .intro-info .btn-get-started:hover, #page1 .intro-info .btn-services:hover {
    background: #0a98c0;
}

/*--------------------------------------------------------------
# page6 Section
--------------------------------------------------------------*/
#page6 {
    padding: 60px 0 40px 0;
    position: relative;
    background: #f5f8fd url("../img/bg-bali.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page6 .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#page6 .box:hover {
    transform: scale(1.1);
}

#page6 .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#page6 .icon i {
    font-size: 36px;
    line-height: 1;
}

#page6 .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#page6 .title a {
    color: #111;
}

#page6 .box:hover .title a {
    color: #1bb1dc;
}

#page6 .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

/*--------------------------------------------------------------
# page5 Section
--------------------------------------------------------------*/
#page5 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f0f8ff url("../img/bg-web.jpg") center top no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------
# page4 Section
--------------------------------------------------------------*/
#page4 {
    padding: 60px 0 40px 0;
    position: relative;
    background-image: linear-gradient(#f0f8ff, #ffffff, #ffffff);
}

#page4 .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#page4 .box:hover {
    transform: scale(1.1);
}

#page4 .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#page4 .icon i {
    font-size: 36px;
    line-height: 1;
}

#page4 .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#page4 .title a {
    color: #111;
}

#page4 .box:hover .title a {
    color: #1bb1dc;
}

#page4 .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #f5f8fd url("../img/maps.jpg") no-repeat;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    /* background: #f5f8fd93; */
    /* background-attachment: fixed;
    background-size: cover; */
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #0a98c0;
    color: #fff;
}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
    margin-bottom: 25px;
    }
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
}

#footer .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#footer .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

#footer .php-email-form .error-message br + br {
    margin-top: 25px;
}

#footer .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#footer .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#footer .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input, #footer .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
}

#footer .php-email-form input::focus, #footer .php-email-form textarea::focus {
    background-color: #1bb1dc;
}

#footer .php-email-form input {
    padding: 20px 15px;
}

#footer .php-email-form textarea {
    padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#footer .php-email-form button[type="submit"]:hover {
    background: #0a98c0;
    cursor: pointer;
}

@-webkit-keyframes animate-loading {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}